[Unit]
Description=Bouncer
Documentation=https://github.com/k4yt3x/bouncer
After=network-online.target
Wants=network-online.target

[Service]
User=bouncer
Group=bouncer
Type=simple
WorkingDirectory=/var/lib/bouncer
ExecStart=/usr/local/bin/bouncer -c /etc/bouncer/bouncer.yaml -d /var/lib/bouncer/bouncer.db
KillSignal=SIGINT
TimeoutStopSec=15s
Restart=on-failure
RestartSec=5s
ConfigurationDirectory=bouncer
StateDirectory=bouncer
LogsDirectory=bouncer
RuntimeDirectory=bouncer
AmbientCapabilities=
CapabilityBoundingSet=
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
RemoveIPC=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
ReadWritePaths=/var/lib/bouncer

[Install]
WantedBy=multi-user.target
